# For local database:
DB_USER={your postgres username (ususally 'postgres')}
DB_HOST=localhost
DB_DATABASE=SmartClinic
DB_PASSWORD={your DB password}
DB_PORT=5432
BASE_FRONTEND_URL=http://localhost:5173
# For supabase:
SUPABASE_URL={your supabase url}
SUPABASE_ANON_KEY={your supabase anon key}
SUPABASE_SECRET_KEY={your supabase secret key}
SUPABASE_JWT_SECRET={your supabase jwt secret key} #this is not a must
# Server Configuration
BASE_FRONTEND_URL=http://localhost:5173
PORT=3001

# Gemini AI Configuration
GEMINI_API_KEY={your google generative ai api key}